<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Tiny ToDo</title>
    <link rel="stylesheet" href="static/todo.css" />
    <script defer src="static/todo.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Tiny ToDo</h1>
      <div class="info">
        <span id="info-version">WebAPI version</span>
        <span id="info-account">User : {{ .UserId }} / Expires : {{ .Expires }}</span>
        <form id="logout" method="post" action="/logout">
          <button type="submit">Logout</button>
        </form>
      </div>
    </header>
    <main>
      <div class="new-todo">
        <input type="text" class="new-todo" id="new-todo" name="todo" placeholder="Add a new todo" />
        <button id="btn-add" type="submit">Add</button>
      </div>
      <ul id="todo-list" class="todo-list">
      </ul>
    </main>
  </body>
</html>
